table {
	border-collapse: collapse;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	font-family: "Times New Roman", Times, serif;
}

td,
th {
	border: 1px solid #999;
	padding: 0.5rem;
	text-align: left;
}

.table-head {
	background-color: rgba(128, 128, 128, 0.564);
}

.heading {
	text-align: center;
}

.dates {
	font-weight: normal;
	text-align: left;
}

.bold {
	font-weight: bold;
}

.align {
	text-align: right;
}

caption {
	padding: 10px;
	caption-side: bottom;
	font-style: italic;
	text-align: left;
}
